
@{
    ViewBag.Title = "ClassAttendance";
}

<div class="jumbotron">
    <a href="#" style="float:right;text-decoration:none">Add Class Attendance</a>
    <table class="table" id="students">
        <thead style="color:white;background:black;" id="head">
            <tr>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>
</div>


@section scripts{

<script>


    let table = document.getElementById("students");
    var data = [{
        "id": 1,
        "AttendanceDate": "2022-03-23T00:00:00",
    }]

    var settings = {
        "url": "https://localhost:44393/api/ClassAttendanceApi/AllClassAttendances",
        "method": "GET",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json"
        },

    };

    let rowData = "";
    $.ajax(settings).done(function (response) {
        if (response) {
            data = response;
        }
        
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            let date = new Date(data[i].AttendanceDate).toDateString();
            rowData += "<tr><td>" + date + "</td> <td><button onclick=\"markAttendance(" + data[i].id + ")\" class=\" form-control\" style=\"text-decoration: none; color: white;background:black;width:160px;float:right; \">Mark Attendance</button></td></tr>";

            console.log(data[i]);

        }
        console.log(table.innerHTML += rowData);
    });

    function markAttendance(id) {
        console.log(id);
        window.location.href = "https://localhost:44393/?"+id;

    }

</script>


}
